.FolderList {
    display: grid;
    grid-template-columns: repeat(6, minmax(260px, 1fr));
    gap: 32px 52px;
    width: 100%;
    margin: 0 auto;
    justify-items: center;
}

@media (max-width: 2000px) {
    .FolderList {
        grid-template-columns: repeat(5, minmax(260px, 1fr));
    }
}
@media (max-width: 1700px) {
    .FolderList {
        grid-template-columns: repeat(4, minmax(260px, 1fr));
    }
}

@media (max-width: 1300px) {
    .FolderList {
        grid-template-columns: repeat(3, minmax(260px, 1fr));
    }
}
@media (max-width: 1000px) {
    .FolderList {
        grid-template-columns: repeat(2, minmax(260px, 1fr));
    }
}
@media (max-width: 800px) {
    .FolderList {
        grid-template-columns: repeat(1, minmax(260px, 1fr));
    }
}
