.MainPageUserSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.ContentTitle {
    font-size: 24px;
    font-weight: 600;
}

.SortOptions {
    display: flex;
    gap: 20px;
}

.SortOption {
    font-size: 14px;
    color: #666;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 20px;
    transition: all 0.2s;
}

/* 전체 레이아웃 고치기 전 임시로 전체 채우기 */
.MainPageSectionDivider {
    height: 20px;
    background-color: #f7f7f7;
    margin: 20px 0;
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50.4vw);
}

.MainPageHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
}

.MainPageHeaderButton {
    display: flex;
    width: 180px;
    height: 32px;
    justify-content: center;
    align-items: center;
    border: 1px solid #5ab7fc;
    border-radius: 12px;
    background-color: #5ab7fc;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    padding: 0;
    margin: 0;
    transition:
        background-color 0.2s ease,
        border-color 0.2s ease,
        color 0.2s ease;
}

.MainPageHeaderButton:hover {
    background-color: #3aa3f6;
    border-color: #3aa3f6;
}

.MainPageHeaderButton:active {
    background-color: #1e88e5;
    border-color: #1e88e5;
}
