.sidebarContainer {
  position: absolute;
  width: 341px;
  height: 1710px;
  left: 1px;
  top: 81px;
  background: #FFFFFF;
  border-right: 1px solid #757575;
  border-bottom: 1px solid #757575;
  border-radius: 0px 12px 12px 0px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* 자식 요소가 넘치지 않게 강제 제한 둠.*/
}

.headerArea {
  padding: 16px 24px 8px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* .title {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #757575;
} */

.searchBar {
  width: 305px;
  height: 30px;
  background: #CFCECE;
  border-radius: 12px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.searchText {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #757575;
}

.profileList {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-top: 8px;
}
